@import url(reset.css);
@import url(font.css);

:root {
  --primary-colour: #3c7509;
  --secondary-colour: #d3ee07;
  --main-font: 'IBM Plex Mono', monospace;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family:  'IBM Plex Mono', monospace;
  color: black;
  background-image: linear-gradient(135deg, #3c7509, #d3ee07);
  background-size: 100% 100%;
  background-attachment: fixed;
  font-size: 1.5em;
  padding: 0.5em 0.5em;
}
h1 {
  text-align: center;
  padding: 1em;
}
h2 {
  font-size: 1.6em;
  font-weight: 500;
}
h3 {
  font-size: 1.6em;
  padding: 0.75em 0;
  text-align: center;
  font-weight: 500;
}
h4 {
  font-size: 1.1em;
  font-weight: 400;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gray;
}
.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  padding: 0.25em;
}
.nav-icon {
  max-height: 95px;
}
.nav-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-text {
  font-size: 1.75em;
  font-family: "Merienda", cursive;
  font-weight: 500;
}
.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.75em;
  margin: 1em 0;
}
.div-space {
  height: 50px;
}
.dashboard-link {
  font-size: 1.2em;
  padding: 1em 0;
}
.header {
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.home-header {
  font-size: 1.75em;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.home-image {
  max-width: 100%;
  margin: 0.5em auto;
}
.image {
  margin: 0.5em auto;
}
.link-button {
  background: transparent;
  border: none;
  font-size: 1.1em;
  margin-bottom: 1em;
  text-align: left;
  width: 175px;
}
.link-button:hover {
  color: gray;
}
.title {
  padding: 0.5em 0;
  margin: 0.5em 0;
}
.radio-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
}
.toggle-labels {
  text-transform: uppercase;
  font-weight: 900;
}
.reading-labels {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: .5em;
}
.arrow-icon{
  width: 15px;
}



/* toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}
.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 4px;
  bottom: 4px;
  background-color: darkred;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  transform: translateX(2em);
  background-color: var(--primary-colour);
}
