@import url(reset.css);
@import url(font.css);

:root {
  --primary-colour: #3c7509;
  --secondary-colour: #d3ee07;
  --table-background: #3b750985;
  --colour: black;
  --colour-light: aliceblue;
  --colour-hover: aliceblue;
  --main-font: "IBM Plex Mono", monospace;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: var(--main-font);
  color: var(--colour);
  background-image: linear-gradient(
    135deg,
    var(--primary-colour),
    var(--secondary-colour)
  );
  font-size: 1.9em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 400;
}
h1 {
  text-align: center;
  padding: .2em;
}
h2 {
  font-size: 1.6em;
  font-weight: 500;
}
h3 {
  font-size: 1.5em;
  padding: 0.75em 0;
  text-align: center;
  font-weight: 500;
}
h4 {
  font-size: 1.1em;
  font-weight: 400;
}
a {
  color: var(--colour);
  text-decoration: none;
}
a:hover {
  color: var(--colour-hover);
}

/* NavBar  */

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  padding-left: 1em;
  margin-top: .5em;
}
.nav-icon {
  max-height: 95px;
}
.nav-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-text {
  font-size: 2.3em;
  font-family: "Merienda", cursive;
  font-weight: 700;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.75em;
  /* margin: 1em 0; */
}
.div-space {
  height: 50px;
}
.dashboard-link {
  font-size: 1.2em;
  padding: 1em 0;
}
.header {
  margin: 0.2em 0;
  padding: 0.5em 0;
  text-transform: uppercase;
}
.home-header {
  font-size: 1.75em;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.home-image {
  max-width: 100%;
  margin: 0.5em auto;
}
.image {
  margin: 0.5em auto;
}
.link-button {
  background: transparent;
  border: none;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
  text-align: left;
  width: 250px;
}
.link-button:hover {
  color: white;
}
.title {
  padding: 0.5em 0;
  margin: 0.5em 0;
}
.radio-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
}

/* node */

.node-card {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.75em 1em;
  margin: 1em 0;
  /* min-height: 100vh; */
}
.node-header {
  text-align: center;
}
.grid-device {
  display: grid;
  grid-template-columns: 150px auto;
}
.node-body {
  padding: 0.5em;
  font-size: 1.1em;
  text-decoration: none;
}
.table-width {
  width: 90%;
}

/* dashboard */

.grid-dashboard {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}
.chart-div {
  grid-column: 2/9;
  grid-row: 2/7;
  background: #C0C0C0;
  border: 10px double var(--primary-colour);
}
.reading-div {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border: none;
  background: green;
  font-size: 0.8em;
  border-radius: 1em;
  min-height: 1em;
  width: 9em;
  padding: 0.5em;
}
.controller-div {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border: none;
  background: transparent;
  font-size: 0.8em;
  border-radius: 1em;
  min-height: 1em;
  width: 9em;
  padding: 0.5em;
}
.reading-div:hover {
  color: black;
  background: white;
}
.reading-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column-1 {
  grid-column: 1/2;
}
.corner-grid {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  width: 100%;
}
.toggle-labels {
  text-transform: uppercase;
  font-weight: 900;
}
.reading-labels {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0.5em;
}
.arrow-icon {
  width: 50px;
}

/* toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}
.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 4px;
  bottom: 4px;
  background-color: darkred;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  transform: translateX(2em);
  background-color: var(--primary-colour);
}

/* Table/device */

.device-card {
  display: flex;
  flex-direction: column;
  margin: 1em 0em;
}
.device-table {
  padding: 1em;
}
.device-table th,
.device-table td {
  padding: 0.25em 0.5em;
  text-align: left;
}
.device-table tr:nth-child(odd) {
  background: var(--table-background);
}
.device-table th {
  font-size: 1.1em;
  font-weight: 500;
  background: var(--primary-colour);
  color: var(--colour-light);
}

/* check box */

.check-div {
  display: flex;
  flex-direction: row;
}
input[type="radio"] {
  height: 28px;
  width: 28px;
}
input[type="radio"]:checked ~ .check {
  border: 5px solid var(--primary-colour);
}
input[type="radio"]:checked::before ~ label {
  color: red;
}
input[type="radio"]:checked ~ label {
  color: black;
}
