@import url(reset.css);

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  color: aliceblue;
  background-image: url("../images/scott-webb-UjupleczBOY-unsplash.jpg");

  /* background-image: url("../images/emma-frances-logan-tuGcNzcveo4-unsplash.jpg"); */
  /* background-image: url("../images/abstract-grey-textured.jpg"); */
  /* background-image: url("../images/scott-webb-qauaqihMwpc-unsplash.jpg"); */

  background-size: 100% 100%;
  background-attachment: fixed;
  font-size: 1.5em;
  padding: 0.5em 0.5em;
}
h1 {
  text-align: center;
  padding: 1em;
}
h2 {
  font-size: 1.7em;
  font-weight: 600;
}
h3 {
  font-size: 1.4em;
  padding: 0.75em 0;
  text-align: center;
  font-weight: 600;
}
h4 {
  font-size: 1.1em;
  font-weight: 400;
}
a {
  color: aliceblue;
  text-decoration: none;
}
a:hover{
  color: lightgreen;
}
.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  padding: 0.25em;
  background: rgba(9, 46, 10, 0.671);
  border: 10px double rgb(9, 46, 10);
}
.nav-icon {
  max-height: 95px;
}
.nav-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-text {
  font-size: 1.5em;
}
.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.card {
  border: 10px double rgb(9, 46, 10);
  background: rgba(9, 46, 10, 0.671);
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.75em;
  margin: 1em 0;
}
.div-space {
  height: 50px;
}
.dashboard-link {
  font-size: 1.2em;
  /* text-align: right; */
  padding: 1em 0;
}
.header {
  border-bottom: 10px double rgb(9, 46, 10);
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.home-header {
  font-size: 1.75em;
  border-bottom: 10px double rgb(9, 46, 10);
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.link-button {
  color: aliceblue;
  background: transparent;
  border: none;
  font-size: 1.1em;
  margin-bottom: 1em;
  text-align: left;
  width: 175px;
}
.link-button:hover{
  color: lightgreen;
}